@CHARSET "UTF-8";
#brand{margin:0px auto;width:100%;text-align:center;position:relative;}
#brand_header{width:100%;height:60px;line-height:60px;}
#brand_body{widtth:100%;height:500px;}
#brand_footer{width:100%;height:60px;line-height:60px;text-align:center;}