#header{
    background: white;
    padding-top: 15px;
}
#header .title{
    font: 20px/50px 微软雅黑;
    color: #232325;
}
#header .title span{
    float: left;
    line-height: 50px;
    display: block;
    cursor: pointer;
}
.container-fluid{
    padding: 0;
}
#adv .adv-control{
    margin-bottom: 0px;
}
#evaluate{
    font: 12px/18px 微软雅黑;
    color: #232325;
    padding: 5px 0;
    border-bottom: 2px solid #efefef;
    margin-bottom: 5px;
}
#pendingEvaluation{
    cursor: pointer;
}
#haveEvaluated{
    cursor: pointer;
}
#haveEvaluated-content .evaluate-content .title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical;
}
#haveEvaluated-content .evaluate-content .title span{
    font:14px 微软雅黑;
    color: #232325;
}
#haveEvaluated-content .evaluate-content{
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
    position: relative;
}
.btn-see{
    position: absolute;
    bottom: 10px;
}
