/*最上标题部分*/
#header{
	padding: .15rem 0 .03rem 0;
	line-height: .45rem;
	background: #fff;
	color: #616161;
	font-size: .18rem;
	border-bottom: 1px solid #bbb;
}
#header .icon{
	display: block;
	cursor: pointer;
	width: .22rem;
	height: .22rem;
	overflow: hidden;
	position: absolute;
	background: url(../images/bg_3.png) no-repeat;
	background-size: 50% auto;
	top: .275rem;
	left: .20rem;
}


/*忘记秘密*/
#index{
	margin-top: .35rem;
}
#index button{
	background: red;
	color: white;
}
#index p{
	color: #88898b;
}
#index p a{
	color: #4c4d4f;
}

/*我的订单*/
/*头部*/
.top{
	height: 44px;
	line-height: 44px;
	background: #fff;
	overflow: hidden;
}
.top li{
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
	display: table;
	position: relative;
}
.top li a{
	margin-left: -1px;
	color: #9a9a9a;
	font-size: 13px;
}
.top .curr span {
	color: #f15353;
	font-size: 13px;
	position: relative;
	display: inline-block;
}
.top .curr span:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background: #f15353;
	bottom: 0;
	left: 50%;
	margin-left: -50%;
}
/*大图广告*/
.ctr img{
	width: 100%;
}

/*商品列表*/
.commodity{
	display: none;
}

.commodity .btm{
	border-top: 1px solid #e4e5ea;
	margin-bottom: 10px;
}
.commodity .btm_top{
	overflow: hidden;
	padding: 12.5px 15px;
	background: white;
}
.commodity .btm_top .i-icon{
	width: 16px;
	height: 14px;
	background: url("../images/bg_1.png") no-repeat;
	background-size: 16px 14px;
	display: inline-block;
	margin-right: 5px;
	position: relative;
	top: 3px;
}
.commodity .btm_top .i-info{
	color: #f15353;
	float: right;
}
.commodity .btm_ctr{
	overflow: hidden;
	padding: 15px 0 15px 15px;
}
.commodity .btm_ctr li{
	float: left;
	margin-right: 7px;
	border: 1px solid #e1e1e1;
	border-radius: 6px;
	background: white;
}
.commodity .btm_ctr li div{
	margin: 4px;
	width: 55px;
	background: white;
}
.commodity .btm_ctr li div img{
	width: 100%;
}
.commodity .btm_ctr .idx{
	padding-right: 10px;
	margin-top: 2.5px;
}
@media(min-width: 345px){
	.commodity .btm_ctr .idx{
		margin-top: 12.5px;
	}
}
@media(min-width: 768px){
	.commodity .btm_ctr .idx{
		margin-top: 0;
		line-height: 65px;
	}
}
.commodity .btm_btm div{
	background: white;
	position: relative;
}
.commodity .btm_btm div:first-child{
	border-bottom: 1px solid #e4e5e9;
	padding: 10px 14px 10px 0;
}
.commodity .btm_btm div:last-child{
	padding: 5px 14px 5px 0;
}
.commodity .btm_btm div:last-child button{
	border-color: red;
	color: red;
}
.commodity .btm_btm button{
	padding: 4px 10px;
}

.commodity .btm_btm .delbtn{
	cursor: pointer;
	width: .22rem;
	height: .22rem;
	overflow: hidden;
	position: absolute;
	background: url(../images/bg_2.png) 0 0 no-repeat;
	background-size: 100% auto;
	top: .09rem;
	left: .31rem;
}



.cart-pop-floor{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.cart-pop-floor .cart-cover-floor{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.7);
}
.cart-pop-floor .cart-info-box {
	width: 85%;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -42.5%;
	margin-top: -75px;
	background: #f8f8f8;
	border-radius: 5px;
	padding-bottom: 1em;
}
.cart-info-box .cart-info-box-content {
	line-height: 74px;
	text-align: center;
	font-size: 1.214285714285714em;
}
.cart-info-box .cart-btn-box {
	text-align: center;
	padding: 1em 25px;
}
.cart-btn-box a {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}
.cart-btn-box-check {
	color: #fff;
	background: #f35656;
	border: 1px solid #f35656;
	width: 45%;
	border-radius: 3px;
	height: 2.5em;
	line-height: 2.5em;
	font-size: 15px;
	float: right;
}
.cart-btn-box-back {
	width: 45%;
	border: 1px solid #e0e0e0;
	background: #fff;
	border-radius: 3px;
	height: 2.5em;
	line-height: 2.5em;
	color: #686868;
	text-align: center;
	font-size: 15px;
	float: left;
}
.no-order {
	width: 100%;
	padding-top: 102px;
	text-align: center;
	display: none;
}
.noorder-pic {
    background: url(../images/noorder.png) no-repeat;
    width: 57px;
    height: 72px;
    background-size: 57px 72px;
    margin: 0 auto;
}
.no-order span {
    display: block;
    padding-top: 33px;
    color: #232326;
    font-size: 19px;
}