@charset "UTF-8";
*{font-family:微软雅黑;font-size:16px;}
/*兼容iphone5*/
@media screen and (max-width: 320px) {body{font-size:0.6em;}}
body,html{height:100%;}
#header{height:62px;border-bottom:1px solid #f1f2f6;background-color:#ffffff;padding-top:6%;}
#header div i,div{font-family:微软雅黑;font-size:16px;}
.address{height:50px;margin-top:60px;padding-top:5px;}
.address div{line-height:16px;padding:0px;}
.address div span{font-size:12px;}
.liner{height:4px;background:url("../images/liner.png");}
#main{background:#f1f1f1;margin:0px;}
.bar{height:8px;padding:0px;margin:0px;background-color:#f1f2f6;}
.product{background-color: #ffffff;height:110px;}
.product .image{height:100px;}
.product .image img{height:100%;display:block;}
.product div p{margin:0px;font-size: 14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#middle{height:800px;}
#money{color:#dd3447;}
.product div{padding-left:0px;padding-top:3%;}
#footer{height:125px;background-color:#ffffff;}
.money{color:#dd3447;  }
.money1{height:75px;border-bottom:2px solid #f1f2f6;padding-top: 2%;}
.money2{height:50px;font-size:16px;line-height:50px;margin:0px;padding:0px;}
.money2 div{padding-right: 0px;padding-top:0px;padding-bottom:0px;margin:0px;}
.money2 div .sub{background-color:#dd3447;text-align:center;}
.sub a{text-decoration:none;color:#050505;}
.sub a:focus{text-decoration:none;color:#050505;}


