<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.moonisland.mapper.GoodsMapper">
	<resultMap type="Goods" id="goodsResultMap">
		<id column="goods_id" property="goodsId"/>
		<result column="brand_id" property="brandId"/>
		<result column="goods_name" property="goodsName"/>
		<result column="category" property="category"/>
		<result column="original_price" property="originalPrice"/>
		<result column="sales_price" property="salesPrice"/>
		<result column="goods_color" property="goodsColor"/>
		<result column="goods_content" property="goodsContent"/>
		<result column="browse_num" property="browseNum"/>
		<result column="save_num" property="saveNum"/>
		<result column="sales_num" property="salesNum"/>
		<result column="goods_keywords" property="goodsKeywords"/>
		<result column="is_on_sale" property="isOnsale"/>
		<result column="stock_num" property="stockNum"/>
		<result column="minus_price" property="minusPrice"/>
		<result column="privilege" property="privilege"/>
		<result column="points" property="points"/>
		<result column="style" property="style"/>
		<result column="style_A" property="styleA"/>
		<result column="style_B" property="styleB"/>
		<result column="style_C" property="styleC"/>
		<result column="style_D" property="styleD"/>
		<result column="style_E" property="styleE"/>
		<result column="add_time" property="addTime"/>
		<result column="is_sale" property="isSale"/>
		
			<!-- 表达多对一关联 多个商品对应一个品牌 -->
		<association property="brand" javaType="Brand">
			<id column="brand_id" property="brandId"/>
		</association>
			<!-- 多个图片对应一个商品 -->
		<association property="pic" javaType="Pic" >
			<result property="goodsId" column="goods_id"/>
			<result property="pic1" column="pic1"/>
			<result property="pic2" column="pic2"/>
			<result property="pic3" column="pic3"/>
			<result property="pic4" column="pic4"/>
			<result property="pic1Thumb" column="pic1_thumb"/>
			<result property="pic2Thumb" column="pic2_thumb"/>
			<result property="pic3Thumb" column="pic3_thumb"/>
			<result property="pic4Thumb" column="pic4_thumb"/>
		</association>
	</resultMap>
	
	<insert id="addGoods" parameterType="Goods">
	
	INSERT INTO moon_goods(
  		<trim prefixOverrides=",">
  			<if test="brandId != null">
  				brand_id
  			</if>
  			<if test="goodsName != null">
  				,goods_name
  			</if>
  			<if test="category != null">
  				,category
  			</if>
  			<if test="originalPrice != null">
  				,original_price
  			</if>
  			<if test="salesPrice != null">
  				,sales_price
  			</if>
  			<if test="goodsColor != null">
  				,goods_color
  			</if>
  			<if test="goodsContent != null">
  				,goods_content
  			</if>
  			<if test="browseNum != null">
  				,browse_num
  			</if>
  			<if test="saveNum != null">
  				,save_num
  			</if>
  			<if test="salesNum != null">
  				,sales_num
  			</if>
  			<if test="isSale != null">
  				,is_sale
  			</if>
  			<if test="goodsKeywords != null">
  				,goods_keywords
  			</if>
  			<if test="isOnsale != null">
  				,is_on_sale
  			</if>
  			<if test="stockNum != null">
  				,stock_num
  			</if>
  			<if test="minusPrice != null">
  				,minus_price
  			</if>	
  			<if test="privilege != null">
  				,privilege
  			</if>
  			<if test="points != null">
  				,points
  			</if>
  			<if test="style != null">
  				,style
  			</if>
  			<if test="styleA != null">
  				,style_A
  			</if>
  			<if test="styleB != null">
  				,style_B
  			</if>
  			<if test="styleC != null">
  				,style_C
  			</if>
  			<if test="styleD != null">
  				,style_D
  			</if>
  			<if test="styleE != null">
  				,style_E
  			</if>
  			
  				,add_time
  			
  		</trim>)values(
  		<trim prefixOverrides=",">
  			<if test="brandId != null">
  				#{brandId}
  			</if>
  			<if test="goodsName != null">
  				,#{goodsName}
  			</if>
  			<if test="category != null">
  				,#{category}
  			</if>
  			<if test="originalPrice != null">
  				,#{originalPrice}
  			</if>
  			<if test="salesPrice != null">
  				,#{salesPrice}
  			</if>
  			<if test="goodsColor != null">
  				,#{goodsColor}
  			</if>
  			<if test="goodsContent != null">
  				,#{goodsContent}
  			</if>
  			<if test="browseNum != null">
  				,#{browseNum}
  			</if>
  			<if test="saveNum != null">
  				,#{saveNum}
  			</if>
  			<if test="salesNum != null">
  				,#{salesNum}
  			</if>
  			<if test="isSale != null">
  				,#{isSale}
  			</if>
  			<if test="goodsKeywords != null">
  				,#{goodsKeywords}
  			</if>
  			<if test="isOnsale != null">
  				,#{isOnsale}
  			</if>
  			<if test="stockNum != null">
  				,#{stockNum}
  			</if>
  			<if test="minusPrice != null">
  				,#{minusPrice}
  			</if>	
  			<if test="privilege != null">
  				,#{privilege}
  			</if>
  			<if test="points != null">
  				,#{points}
  			</if>
  			<if test="style != null">
  				,#{style}
  			</if>
  			<if test="styleA != null">
  				,#{styleA}
  			</if>
  			<if test="styleB != null">
  				,#{styleB}
  			</if>
  			<if test="styleC != null">
  				,#{styleC}
  			</if>
  			<if test="styleD != null">
  				,#{styleD}
  			</if>
  			<if test="styleE != null">
  				,#{styleE}
  			</if>
  			
  				,unix_timestamp()
  			
  		</trim>
  		)
  </insert>
	

	 <update id="updateGoods" parameterType="Goods">
	 update moon_goods set 
	 <trim prefixOverrides=",">
			<if test="brandId != null">
  				brand_id=#{brandId}
  			</if>
  			<if test="goodsName != null">
  				,goods_name=#{goodsName}
  			</if>
  			<if test="category != null">
  				,category=#{category}
  			</if>
  			<if test="originalPrice != null">
  				,original_price=#{originalPrice}
  			</if>
  			<if test="salesPrice != null">
  				,sales_price=#{salesPrice}
  			</if>
  			<if test="goodsColor != null">
  				,goods_color=#{goodsColor}
  			</if>
  			<if test="goodsContent != null">
  				,goods_content=#{goodsContent}
  			</if>
  			<if test="browseNum != null">
  				,browse_num=#{browseNum}
  			</if>
  			<if test="saveNum != null">
  				,save_num=#{saveNum}
  			</if>
  			<if test="salesNum != null">
  				,sales_num=#{salesNum}
  			</if>
  			<if test="isSale != null">
  				,is_sale=#{isSale}
  			</if>
  			<if test="goodsKeywords != null">
  				,goods_keywords=#{goodsKeywords}
  			</if>
  			<if test="isOnsale != null">
  				,is_on_sale=#{isOnsale}
  			</if>
  			<if test="stockNum != null">
  				,stock_num=#{stockNum}
  			</if>
  			<if test="minusPrice != null">
  				,minus_price=#{minusPrice}
  			</if>	
  			<if test="privilege != null">
  				,privilege=#{privilege}
  			</if>
  			<if test="points != null">
  				,points=#{points}
  			</if>
  			<if test="style != null">
  				,style=#{style}
  			</if>
  			<if test="styleA != null">
  				,style_A=#{styleA}
  			</if>
  			<if test="styleB != null">
  				,style_B=#{styleB}
  			</if>
  			<if test="styleC != null">
  				,style_C=#{styleC}
  			</if>
  			<if test="styleD != null">
  				,style_D=#{styleD}
  			</if>
  			<if test="styleE != null">
  				,style_E=#{styleE}
  			</if>
  			<if test="addTime != null">
  				,add_time=#{addTime}
  			</if>
  		where goods_id=#{goodsId};
  		</trim> 
		<!-- <![CDATA[
			
			brand_id=#{brandId},goods_name=#{goodsName},category=#{category},original_price=#{originalPrice},
			sales_price=#{salesPrice},
			goods_color=#{goodsColor},
			goods_content=#{goodsContent},
			browse_num=#{browseNum},
			save_num=#{saveNum},
			sales_num=#{salesNum},goods_keywords=#{goodsKeywords},is_on_sale=#{isOnsale},stock_num=#{stockNum},minus_price=#{minusPrice},
			privilege=#{privilege},points=#{points},style=#{style},style_A=#{styleA},style_B=#{styleB},style_C=#{styleC},style_D=#{styleD},
			style_E=#{styleE},add_time=#{addTime},is_sale=#{isSale} where goods_id=#{goodsId};
		]]> -->
	</update>
	
	<select id="goodsCount" resultType="int">
		<![CDATA[
			select ceil(count(*)/10) from moon_goods;
		]]>
	</select> 
	
	<select id="goods" parameterType="int" resultMap="goodsResultMap">
		<![CDATA[
			select * from moon_goods limit #{page},10;
		]]>
	</select>
	
	<select id="findallGoods" resultMap="goodsResultMap">
		<![CDATA[
			select * from moon_goods;
		]]>
	</select>
	
	<delete id="deleteGoods" parameterType="Goods">
		<![CDATA[
				delete from moon_goods where goods_id=#{goodsId};
			]]>
	</delete> 
	
	<select id="findGood" parameterType="int" resultMap="goodsResultMap">
		select * from moon_goods where goods_id=#{goodsId};
	</select>
	
	<select id="selectStatus" parameterType="Map" resultMap="goodsResultMap" >
		select * from moon_goods where is_on_sale=#{status} limit #{page},10;
	</select>
	
	<select id="salesGoods" resultMap="goodsResultMap">
		select * from moon_goods where is_sale=1
	</select>
</mapper>
