<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.moonisland.mapper.OptometryMapper">
	<resultMap type="Optometry" id="optometryResultMap">
		<id column="optometry_id" property="optometryId" />
		<result column="R_SPH" property="rSph"/>
		<result column="R_CYL" property="rCyl"/>
		<result column="R_AXIS" property="rAxis"/>
		<result column="L_SPH" property="lSph"/>
		<result column="L_CYL" property="lCyl"/>
		<result column="L_AXIS" property="lAxis"/>
		<result column="PD" property="pd"/>
		<result column="optometry_time" property="optometryTime"/>
		<association property="user" javaType="User">
			<id property="userId" column="user_id"/>
			<result property="points" column="points"/>
			<result property="userLevel" column="user_level"/>
			<result property="isPrivilege" column="is_privilege"/>
			<result property="privilegeNum" column="privilege_num"/>
			<result property="phone" column="phone"/>
			<result property="nickName" column="nick_name"/>
			<result property="headerPic" column="header_pic"/>
			<result property="password" column="password"/>
			<result property="sex" column="sex"/>
			<result property="birthday" column="birthday"/>
			<result property="zipcode" column="zipcode"/>
			<result property="mobile" column="mobile"/>
			<result property="email" column="email"/>
			<result property="userTime" column="user_time"/>
			<result property="userStatus" column="user_status"/>
		</association>
	</resultMap>
	<select id="findAll" resultMap="optometryResultMap">
		<![CDATA[
			select * from moon_optometry;
		]]>
	</select>
	<select id="findById" resultMap="optometryResultMap">
		<![CDATA[
			select * from moon_optometry where optometry_id=#{optometryId}
		]]>
	</select>
	
	<insert id="add2" parameterType="Optometry">
		insert into moon_optometry(user_id,R_SPH,R_CYL,R_AXIS,L_SPH,L_CYL,L_AXIS,PD,optometry_time) values(#{user.userId},#{rSph},#{rCyl},#{rAxis},#{lSph},#{lCyl},#{lAxis},#{pd},current_timestamp);
	</insert>
	
	<insert id="add" parameterType="Optometry">
  	insert into moon_optometry(
  	<trim prefixOverrides=",">
  	<if test="user!=null">
  		user_id
  	</if>
  	<if test="rSph!=null">
  		,R_SPH
  	</if>
  	<if test="rCyl!=null">
  		,R_CYL
  	</if>
  	<if test="rAxis!=null">
  		,R_AXIS
  	</if>
  	<if test="lSph!=null">
  		,L_SPH
  	</if>
  	<if test="lCyl!=null">
  		,L_CYL
  	</if>
  	<if test="lAxis!=null">
  		,L_AXIS
  	</if>
  	<if test="pd!=null">
  		,PD
  	</if>
  	<if test="optometryTime!=null">
  		,optometry_time
  	</if>
  	</trim>)values(
  	<trim prefixOverrides=",">
  	<if test="user!=null">
  		#{user.userId}
  	</if>
  	<if test="rSph!=null">
  		,#{rSph}
  	</if>
  	<if test="rCyl!=null">
  		,#{rCyl}
  	</if>
  	<if test="rAxis!=null">
  		,#{rAxis}
  	</if>
  	<if test="lSph!=null">
  		,#{lSph}
  	</if>
  	<if test="lCyl!=null">
  		,#{lCyl}
  	</if>
  	<if test="lAxis!=null">
  		,#{lAxis}
  	</if>
  	<if test="pd!=null">
  		,#{pd}
  	</if>
  	<if test="optometryTime!=null">
  		,#{optometryTime}
  	</if>
  	</trim>)
  </insert>
</mapper>
