<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.com.moonisland.mapper.PicMapper">
	<resultMap type="Pic" id="pic">
		<id property="picId" column="pic_id"/>
		<result property="goodsId" column="goods_id"/>
		<result property="pic1" column="pic1"/>
		<result property="pic2" column="pic2"/>
		<result property="pic3" column="pic3"/>
		<result property="pic4" column="pic4"/>
		<result property="pic1Thumb" column="pic1_thumb"/>
		<result property="pic2Thumb" column="pic2_thumb"/>
		<result property="pic3Thumb" column="pic3_thumb"/>
		<result property="pic4Thumb" column="pic4_thumb"/>
	</resultMap>
	<insert id="insert" parameterType="pic">
	insert into moon_goods_pic(
	<trim prefixOverrides=",">
	<if test="goodsId != null">
			goods_id
	</if>
	<if test="pic1 != null">
			,pic1
	</if>
	<if test="pic2 != null">
			,pic2
	</if>
	<if test="pic3 != null">
			,pic3
	</if>
	<if test="pic4 != null">
			,pic4
	</if>
	<if test="pic1Thumb != null">
			,pic1_thumb
	</if>
	<if test="pic2Thumb != null">
			,pic2_thumb
	</if>
	<if test="pic3Thumb != null">
			,pic3_thumb
	</if>
	<if test="pic4Thumb != null">
			,pic4_thumb
	</if>
	</trim>
	)values(
		<trim prefixOverrides=",">
			<if test="goodsId !=null">
			#{goodsId}
			</if>
			<if test="pic1 !=null">
			,#{pic1}
			</if>
			<if test="pic2 !=null">
			,#{pic2}
			</if>
			<if test="pic3 !=null">
			,#{pic3}
			</if>
			<if test="pic4 !=null">
			,#{pic4}
			</if>
			<if test="pic1Thumb !=null">
			,#{pic1Thumb}
			</if>
			<if test="pic2Thumb !=null">
			,#{pic2Thumb}
			</if>
			<if test="pic3Thumb !=null">
			,#{pic3Thumb}
			</if>
			<if test="pic4Thumb !=null">
			,#{pic4Thumb}
			</if>
		</trim>
	)
  </insert> 
  <select id="findall" resultMap="pic">
  	select * from moon_goods_pic p, moon_goods g where p.goods_id=g.goods_id
  </select>
  <update id="update" parameterType="pic">
  update moon_goods_pic set 
  	<trim prefixOverrides=",">
  	<if test="goodsId != null">
  		goods_id=#{goodsId}
  	</if>
  	<if test="pic1 != null">
  		,pic1=#{pic1}
  	</if>
  	<if test="pic2 != null">
  		,pic2=#{pic2}
  	</if>
  	<if test="pic3 != null">
  		,pic3=#{pic3}
  	</if>
  	<if test="pic4 != null">
  		,pic4=#{pic4}
  	</if>
  	<if test="pic1Thumb != null">
  		,pic1_thumb=#{pic1Thumb}
  	</if>
  	<if test="pic2Thumb != null">
  		,pic2_thumb=#{pic2Thumb}
  	</if>
  	<if test="pic3Thumb != null">
  		,pic3_thumb=#{pic3Thumb}
  	</if>
  	<if test="pic4Thumb != null">
  		,pic4_thumb=#{pic4Thumb}
  	</if> 
  	</trim>
  	where pic_id=#{picId} 
  </update>
  <select id="findbyid" resultMap="pic" parameterType="int">
  	select * from moon_goods_pic p,moon_goods g where  p.pic_id=#{id}
  </select>
 	<select id="findlimit" resultMap="pic" parameterType="Map">
 		select * from moon_goods_pic limit #{num1},#{num2}
 	</select>
 	<select id="pagecount" resultType="int">
 		select ceil(count(*)/5) from moon_goods_pic
 	</select>
 	<update id="checkpic" parameterType="pic">
 	<![CDATA[
			update moon_goods_pic set pic_status=#{picStatus} where pic_id=#{picId}
		]]>
 	</update>
</mapper>












