<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.moonisland.mapper.ReturnOrderMapper">
  <resultMap type="ReturnOrder" id="returnOrderResultMap">
		<id property="returnId" column="return_id"/>
		<result property="orderId" column="order_id"/>
		<result property="reason" column="reason"/>
		<result property="returnStatus" column="return_status"/>
		<result property="returnTime" column="return_time"/>
		
		<!-- 表达多对一关联 -->
		<association property="user" javaType="User">
			<result column="user_id" property="userId"/>
			<result column="nick_name" property="nickName"/>
		</association>
		<association property="goods" javaType="Goods">
			<result column="goods_id" property="goodsId"/>
			<result column="goods_name" property="goodsName"/>
		</association>
	</resultMap>
	
	<insert id="addReturn" parameterType="ReturnOrder">
		<![CDATA[
			insert into moon_returnorder(order_id,user_id,goods_id,reason,return_status,return_time) 
			values(#{orderId},#{user.userId},#{goods.goodsId},
			#{reason},#{returnStatus},current_timestamp)
		]]>
	</insert>
	<select id="selectReturn" resultMap="returnOrderResultMap">
		<![CDATA[
			select * from moon_returnorder;
		]]>
	</select>
	<select id="selectReturnbyid" resultMap="returnOrderResultMap" parameterType="ReturnOrder">
		<![CDATA[
			select * from moon_returnorder where return_id=#{returnId};
		]]>
	</select>
	<update id="deleteReturn" parameterType="ReturnOrder">
		<![CDATA[
			update moon_returnorder set return_status=#{returnStatus},return_time=current_timestamp where return_id=#{returnId};
		]]>
	</update>
	<!-- 查询一共有几页 -->
	<select id="pageCount" resultType="int">
		<![CDATA[
			select ceil(count(*)/5) from moon_returnorder 
		]]>
	</select>
	<!-- 通过userID查询一共有几页 -->
	<select id="pageCount2" resultType="int" parameterType="string">
		<![CDATA[
			select ceil(count(*)/5) from moon_returnorder where user_id=#{id} 
		]]>
	</select>
	<!-- 通过goodsId查询一共有几页 -->
	<select id="findbygoodsidCount" resultType="int" parameterType="string">
		select ceil(count(*)/5) from moon_returnorder
	　　　　　　<if test="_parameter!= null and _parameter!= ''">
				where
				goods_id=#{_parameter}
			</if>
	</select>
	<!-- 根据goodsid查找 -->
	<select id="findbygoodsidPage" resultMap="returnOrderResultMap" parameterType="Map">
			select r.*,u.nick_name from moon_returnorder r,moon_user u 
			where r.user_id=u.user_id 
			<if test="goodsid != null and goodsid != ''">
				and r.goods_id=#{goodsid}
			</if>
			 	limit #{page},5
	</select>
	<!-- 分页查询 -->
	<select id="findbypage" resultMap="returnOrderResultMap" parameterType="int">
		<![CDATA[
			select r.*,u.nick_name from moon_returnorder r,moon_user u where r.user_id=u.user_id limit #{page},5 
		]]>
	</select>
	<!-- 根据userid查找 -->
	<select id="findbyuserid" resultMap="returnOrderResultMap" parameterType="Map">
			select r.*,u.nick_name from moon_returnorder r,moon_user u 
			where r.user_id=u.user_id 
			<if test="userid != null and userid != ''">
				and r.user_id=#{userid}
			</if>
			 	limit #{page},5
	</select>
</mapper>
