<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
								"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 设置参数 -->
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>	
	<!-- 别名 -->
	<typeAliases>
		<package name="cn.com.moonisland.pojo"/>
	</typeAliases>	
	<!-- 映射文件 -->
	<mappers>
		<package name="cn.com.moonisland.mapper"/>
	</mappers>
</configuration>





